* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

#head {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background-color: #2f2f2f;
    height: 50px;
}

#head ul, #menu li {
    padding: 10px;
    margin: 0;
    height: 100%;
}

#head li {
    position: relative;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    height: 100%;
}

#head li a {
    width: 100px;
    height: 100%;
    display: flex;
    text-decoration: none;
    text-align: center;
    line-height: 30px;
    background-color: #2f2f2f;
    color: #c2bebe;
    justify-content: center;
    align-items: center;
}

#head ul ul li a {
    width: 200px;
    text-align: left;
    padding-left: 10px;
    height: 100%;
    display: inline-block;
}

#head li a:hover {
    background-color: black;
    color: white;
}

#head ul ul {
    position: absolute;
    top: 40px;
    left: -10px;
    visibility: hidden;
}

#head ul li:hover ul {
    visibility: visible;
}

.login-icon {
    color: #c2bebe;
    margin-right: 10px;
}
.login {
    color: #c2bebe;
    padding: 20px;
}


#body-left {
    background: rgba(59, 59, 59, 0.22);
    height: 700px;
    width: 15%;
    float: left;
}

#body-content {
    background-color: white;
    float: left;
    height: 700px;
    width: 70%;
    padding: 20px;
}

#body-content h1 {
    padding-bottom: 20px;
    font-size: 50px;
}

#body-right {
    background: rgba(59, 59, 59, 0.22);
    width: 15%;
    color: #626262;
    height: 700px;
    float: right;
}

.head-left{
    height: 100%;
}

#footer {
    clear: both;
    background-color: #2f2f2f;
    height: 80px;
    text-align: center;
    padding: 25px;
    color: #ffffff;
}

#body-content .first-section {
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-bottom: 1px solid rgba(68, 68, 68, 0.3);
}

#body-right .ads {
    border: 1px solid black;
    padding: 30px;
    text-align: center;
    margin: 40px;
}

@media screen and (max-width: 500px) {
    .head-left{
        width: 500px;
    }
    #head li a {
        font-size: 10px;
        width: 50px;
    }
    #body-left {
        width: 0;
    }
    #body-right {
        width: 0;
    }
}

@media screen and (max-width: 355px) {
    .head-left{
        visibility: hidden;
    }

    #body-left {
        width: 0;
    }
    #body-right {
        width: 0;
    }
}